@model int
@{
    ViewBag.Title = "Checkout Complete";
}
<h2>Checkout Complete</h2>
<p>Thanks for your order! Your order number is: @Model</p>
<p>
    See you soon in our @Html.ActionLink("library", "Index", "Home")!
</p>