@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            Full name
        </th>
        <th>
            Email
        </th>
        <th>
            Role
        </th>
        <th></th>
    </tr>

    @foreach (var user in (dynamic)Model)
    {
        var appUser = user.User;
        var roles = user.Roles;
        <tr>
            <td>
                @appUser.FullName
            </td>
            <td>
                @appUser.Email
            </td>
            <td>
                @string.Join(",", roles)
            </td>
            <td>
                @Html.ActionLink("Activate", "Activate", "Account", new { id = appUser.Id }, null)
            </td>
        </tr>
    }

</table>